<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="besmart.elderlycare">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".ElderlycarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".screen.filedetail.FileDetailActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".screen.historydetail.HistoryDetailActivity" />
        <activity android:name=".screen.sugarhistory.SugarHistoryActivity" />
        <activity android:name=".screen.sugaradd.SugarAddActivity" />
        <activity android:name=".screen.bloodhistory.BloodPressureHistoryActivity" />
        <activity android:name=".screen.bloodadd.AddBloodPressureActivity" />
        <activity android:name=".screen.bodymasshistory.BodyMassHistoryActivity" />
        <activity android:name=".screen.bodymassadd.AddBodyMassActivity" />
        <activity android:name=".screen.blood.BloodPressureActivity" />
        <activity android:name=".screen.vaccine.VaccineActivity" />
        <activity android:name=".screen.sugar.SugarActivity" />
        <activity android:name=".screen.pressure.PressureActivity" />
        <activity android:name=".screen.history.HistoryActivity" />
        <activity android:name=".screen.bodymass.BodyMassActivity" />
        <activity android:name=".screen.elderlyinfo.ElderlyInfoActivity" />
        <activity android:name=".screen.editprofile.EditProfileActivity" />
        <activity android:name=".screen.newsdetail.NewsDetailActivity" />
        <activity android:name=".screen.web.WebViewActivity" />
        <activity android:name=".screen.elderlyadd.AddElderlyActivity" />
        <activity android:name=".screen.profile.ProfileActivity" />
        <activity android:name=".screen.chat.ChatActivity" />
        <activity android:name=".screen.notification.NotificationActivity" />
        <activity android:name=".screen.news.NewsActivity" />
        <activity android:name=".screen.knowledge.KnowledgeActivity" />
        <activity android:name=".screen.flie.FileActivity" />
        <activity android:name=".screen.gps.GpsActivity" />
        <activity android:name=".screen.myelderlyprofile.MyElderlyProfileActivity" />
        <activity android:name=".screen.calendar.CalendarActivity" />
        <activity android:name=".screen.elderly.ElderlyActivity" />
        <activity android:name=".screen.login.LoginActivity" />
        <activity android:name=".screen.register.RegisterActivity" />
        <activity android:name=".screen.selectusertype.SelectUserTypeActivity" />
        <activity android:name=".screen.welcome.WelcomeActivity" />
        <activity android:name=".screen.splach.SplachScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.main.MainActivity" />
        <!--<service-->
        <!--android:name=".java.MyFirebaseMessagingService"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--android:resource="@drawable/" />-->
        <!--&lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
        <!--notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_color"-->
        <!--android:resource="@color/colorAccent" />\-->
    </application>

</manifest>